<h1>Organization Time Reports</h1>

<div class="user-activity-daily">

  <h2>Daily User Activity</h2>

  <table class='table'>
    <thead>
      <tr>
        <th>User</th>
        <th>Category</th>
        <th>Time (minutes)</th>
      </tr>
    </thead>
    <tbody>
      <% @users_with_entries.each do |user| %>
        <tr>
          <td><%= user.email %></td>
            <% user.categories_times_day(@end_date).each do |key, value| %>
              <td><%= Category.find(key).name %></td>
              <td><%= value %></td>
            <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>


</div>
