<h1>Reports</h1>

<div class="daily-report">
  <h2>Daily Report</h2>

  <table class= 'table'>
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Category</th>
        <th>Time (minutes)</th>
      </tr>
    </thead>
    <tbody>
      <% @presenter.entries_day.each do |entry| %>
        <tr>
          <td><%= entry.date %></td>
          <td><%= entry.description %></td>
          <td><%= Category.find(entry.category_id).name %></td>
          <td><%= entry.value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Daily Breakdown</h3>

    <h5>
    </h5>

</div>
